<div [hidden]="!show" class="text-center">
  <p>
    <button type="button"
      name="button"
      (click)="start()"
      [hidden]="started"
      class="btn btn-primary btn-lg">Start</button>

    <button type="button"
      name="button"
      (click)="stop()"
      [hidden]="!started"
      class="btn btn-lg btn-danger">Stop</button>
  </p>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Arrival</th>
          <th style="width: 50%;">End Time</th>
        </tr>
        <tr *ngFor="let planet of planets | keyvalue">
          <td scope="row">{{planet.key}}</td>
          <td>
            <span [hidden]="planet.value?.remaining > 0">Arrived</span>
            <span [hidden]="planet.value?.remaining == 0">{{planet.value?.remaining | time}}</span>
          </td>
          <td>{{planet.value?.endTime}}</td>
        </tr>
      </thead>
    </table>
  </div>
</div>
