<div class="container-fluid">
  <h2>Location List</h2>

  <div>
    <div>
      <div class="input-group">
        <input type="text" [(ngModel)]="searchTerm" (keypress)="catchSearchEnter($event)" placeholder="Player Name" class="form-control" />

        <div class="input-group-append">
          <button type="button" class="btn btn-primary" (click)="search()">
              <span class="fa fa-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <ol>
        <li *ngFor="let result of searchResults">
          {{result.player}} - {{result.location}}
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <button type="button" class="btn btn-primary" (click)="system = Math.max(system - 1, 1); onChange()">
              <span class="fa fa-arrow-left"></span>
          </button>
        </div>
        <input type="number" [(ngModel)]="galaxy" (change)="onChange()" min="1" max="3" placeholder="Galaxy" class="form-control" />
        <input type="number" [(ngModel)]="system" (change)="onChange()" min="1" max="250" placeholder="System" class="form-control" />
        <div class="input-group-append">
          <button type="button" class="btn btn-primary" (click)="system = Math.min(system + 1, 250); onChange()">
              <span class="fa fa-arrow-right"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Slot</th>
          <th style="width: 50%">Player</th>
        </tr>
        <tr *ngFor="let player of players; let i=index">
          <td scope="row">Slot {{i+1}}</td>
          <td>
            {{player}}
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>
