<div>

  <div class="row">
    <div class="planet col-sm-6">
      <label for="start">Start:</label>
      <div class="input-group">
        <input type="number" [(ngModel)]="model.start.galaxy" (change)="refresh()" id="start" class="input-sm form-control" />
        <input type="number" [(ngModel)]="model.start.system" (change)="refresh()" class="input-sm form-control" />
        <input type="number" [(ngModel)]="model.start.planet" (change)="refresh()" class="input-sm form-control" />
      </div>
    </div>
    <div class="planet col-sm-6">
      <label for="end">Finish:</label>
      <div class="input-group">
        <input type="number" [(ngModel)]="model.end.galaxy" (change)="refresh()" id="end" class="input-sm form-control" />
        <input type="number" [(ngModel)]="model.end.system" (change)="refresh()" class="input-sm form-control" />
        <input type="number" [(ngModel)]="model.end.planet" (change)="refresh()" class="input-sm form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <label for="modifier">Universe Speed:</label>
      <select id="modifier" [(ngModel)]="model.modifier" (change)="refresh()" class="input-sm form-control">
        <option *ngFor="let modifier of modifiers" [ngValue]="modifier">{{modifier}}x</option>
      </select>
    </div>
    <div class="col-sm-6">
      <label for="speed">Fleet Speed:</label>
      <select id="speed" [(ngModel)]="model.speed" (change)="refresh()" class="input-sm form-control">
        <option *ngFor="let speed of speeds" [ngValue]="speed">{{speed*100}}%</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label for="combustion">Combustion:</label>
      <input type="number" id="combustion" [(ngModel)]="model.combustion" (change)="refresh()" class="input-sm form-control" />
    </div>
    <div class="col-sm-4">
      <label for="impulse">Impulse:</label>
      <input type="number" id="impulse" [(ngModel)]="model.impulse" (change)="refresh()" class="input-sm form-control" />
    </div>
    <div class="col-sm-4">
      <label for="hyperspace">Hyperspace:</label>
      <input type="number" id="hyperspace" [(ngModel)]="model.hyperspace" (change)="refresh()" class="input-sm form-control" />
    </div>
  </div>
  <div>
    <label>Ships</label>
    <div class="form-check" *ngFor="let ship of ships">
      <label class="form-check-label">
        <input type="checkbox" [(ngModel)]="ship.selected" (change)="refresh()" />
        {{ship.name}}
      </label>
    </div>
  </div>
  <div>
    <label for="initial_time">Initial Time:</label>
    <input type="text" id="initial_time" pattern="[0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}" [(ngModel)]="model.initial" class="input-lg form-control" />
  </div>
  <p>&nbsp;</p>

  <div>
    <button type="button" name="button" (click)="start()" [hidden]="started || !model.initial" class="btn btn-primary btn-lg">Start</button>
    <button type="button" name="button" (click)="stop()" [hidden]="!started" class="btn btn-lg btn-danger">Stop</button>
    <button type="button" name="button" (click)="recall()" [hidden]="!started" class="btn btn-lg btn-secondary float-right">Recall</button>
  </div>
  <h2 [hidden]="!started" class="text-center">{{remaining | time}}</h2>
  <h3 [hidden]="!started">Arrival: {{arrivalTime}}</h3>
</div>
