<div>
  <label for="start">Start:</label>
  <input type="number" [(ngModel)]="model.start.galaxy" (change)="refresh()" id="start" />
  <input type="number" [(ngModel)]="model.start.system" (change)="refresh()" />
  <input type="number" [(ngModel)]="model.start.planet" (change)="refresh()" />
</div>
<div>
  <label for="end">Finish:</label>
  <input type="number" [(ngModel)]="model.end.galaxy" (change)="refresh()" id="end" />
  <input type="number" [(ngModel)]="model.end.system" (change)="refresh()" />
  <input type="number" [(ngModel)]="model.end.planet" (change)="refresh()" />
</div>
<div>
  <label for="modifier">Universe Speed:</label>
  <select id="modifier" [(ngModel)]="model.modifier" (change)="refresh()">
    <option *ngFor="let modifier of modifiers" [ngValue]="modifier">{{modifier}}x</option>
  </select>
</div>
<div>
  <label for="speed">Fleet Speed:</label>
  <select id="speed" [(ngModel)]="model.speed" (change)="refresh()">
    <option *ngFor="let speed of speeds" [ngValue]="speed">{{speed*100}}%</option>
  </select>
</div>
<div>
  <label>
    Combustion:
    <input type="number" [(ngModel)]="model.combustion" (change)="refresh()"/>
  </label>
  <label>
    Impulse:
    <input type="number" [(ngModel)]="model.impulse" (change)="refresh()"/>
  </label>
  <label>
    Hyperspace:
    <input type="number" [(ngModel)]="model.hyperspace" (change)="refresh()"/>
  </label>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Ship</th>
        <th></th>
      </tr>
        <tr *ngFor="let ship of ships"><td>{{ship.name}}</td><td><input type="checkbox" [(ngModel)]="ship.selected" (change)="refresh()" /></td></tr>
    </thead>
  </table>
</div>
<div>
  <label for="initial_time">Initial Time:</label>
  <input type="text" id="initial_time" pattern="[0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}" [(ngModel)]="model.initial" />
</div>
<div>
  <button type="button" name="button" (click)="start()" [hidden]="started || !model.initial">Start</button>
  <button type="button" name="button" (click)="stop()" [hidden]="!started">Stop</button>
  <button type="button" name="button" (click)="recall()" [hidden]="!started">Recall</button>
</div>
<h2 [hidden]="!started">{{remaining | toTime}}</h2>
