<div class="calculator container-fluid mb-5">
  <h2>Calculator</h2>
  
  <router-outlet></router-outlet>
</div>

<footer role="navigation" class="fixed-bottom bg-light">
  <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
          <a routerLink="/deploy" routerLinkActive="active" class="nav-link">
              Deploy
          </a>
      </li>
      <li class="nav-item">
          <a routerLink="/recycle" routerLinkActive="active" class="nav-link">
              Recycle
          </a>
      </li>
  </ul>
</footer>