<app-calculator-controls [model]="calculator.model" [hidePlanet]="true" (change)='navigate()'></app-calculator-controls>

<div [hidden]="!show" class="text-center">
  <p>
    <button type="button" name="button" (click)="start()" *ngIf="!startTime"
      class="btn btn-primary btn-lg">Start</button>

    <button type="button" name="button" (click)="stop()" *ngIf="startTime" class="btn btn-lg btn-danger">Stop</button>
  </p>
  <div *ngIf="startTime && selected !== null">
    <h2 class="text-center">
      Slot {{selected + 1}} -
      <span *ngIf="flights[selected].remaining <= 0">Arrived</span>
      <span *ngIf="flights[selected].remaining > 0">{{flights[selected].remaining | time}}</span>
    </h2>
    <h3>Arrival: {{flights[selected].endTime}}</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Arrival</th>
          <th style="width: 50%;">End Time</th>
        </tr>
        <tr *ngFor="let flight of flights; let i = index" (click)="selected = i" [ngClass]="{'active': selected === i}">
          <td scope="row">{{i + 1}}</td>
          <td>
            <span *ngIf="flight.remaining <= 0">Arrived</span>
            <span *ngIf="flight.remaining > 0">{{flight.remaining | time}}</span>
          </td>
          <td>{{flight.endTime}}</td>
        </tr>
      </thead>
    </table>
  </div>
</div>