<div>
  <div>
    <label for="initial_time">Initial Time:</label>
    <input type="text"
      id="initial_time"
      pattern="[0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}"
      [(ngModel)]="initial"
      class="input-lg form-control" />
  </div>
  <p>&nbsp;</p>

  <div [hidden]="!initial">
    <button type="button"
      name="button"
      (click)="start()"
      [hidden]="started"
      class="btn btn-primary btn-lg">Start</button>

    <button type="button"
      name="button"
      (click)="stop()"
      [hidden]="!started"
      class="btn btn-lg btn-danger">Stop</button>

    <button type="button"
      name="button"
      (click)="recall()"
      [hidden]="!started"
      class="btn btn-lg btn-secondary float-right">Recall</button>
  </div>

  <h2 [hidden]="!started" class="text-center">{{remaining | time}}</h2>
  <h3 [hidden]="!started">Arrival: {{arrivalTime}}</h3>
</div>
