<div>
  <app-calculator-controls [model]="calculator.model" [hidePlanet]="false"
    (change)='navigate()'></app-calculator-controls>

  <div>
    <label for="initial_time">Initial Time:</label>
    <input type="text" id="initial_time" pattern="[0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}" [(ngModel)]="initial"
      class="input-lg form-control" />
  </div>
  <p>&nbsp;</p>

  <div *ngIf="!!initial">
    <button type="button" name="button" (click)="start()" *ngIf="!flight?.startTime"
      class="btn btn-primary btn-lg">Start</button>

    <button type="button" name="button" (click)="stop()" *ngIf="flight?.startTime"
      class="btn btn-lg btn-danger">Stop</button>

    <button type="button" name="button" (click)="recall()" *ngIf="flight?.startTime && !flight?.recallTime"
      class="btn btn-lg btn-secondary float-right">Recall</button>
  </div>

  <div *ngIf="flight?.startTime">
    <h2 class="text-center">{{flight.remaining | time}}</h2>
    <h3>Arrival: {{flight.endTime}}</h3>
  </div>
</div>